$h1: 72px;
$h2: 32px;
$h3: 28px;
$h4: 24px;
$p: 18px;

$primary-color: #0099CC;
$secondary-color: #F0F5F9;

$primary-font: Montserrat;
$secondary-font: Arial;

$primary-text-color: #333333;
$secondary-text-color: #5B5C5D;

$header-height: 110px;
