$color__primary: #0099CC
$color__secondary: #F0F5F9
$color__text--primary: #333333
$color__text--secondary: #5B5C5D

$font__family--primary: Montserrat
$font__family--secondary: Arial
$font__size--1: 48px
$font__size--2: 32px
$font__size--3: 24px
$font__size--4: 18.72px
$font__size--5: 16px
$font__size--6: 13.28px 

$top-section__height: 1000px
