@import '../setup/vars'
@import '../setup/mixins'

$header--height: 110px
$header--color: white
$header--color--fixed: $color__text--primary
$header--color-accent: $color__primary
$header--wrappers-margin-1: 200px
$header--wrappers-margin-2: 100px
$header--wrappers-margin-3: 30px

$header__logo--color: $header--color
$header__logo--color-accent: $header--color-accent
$header__logo--color--fixed: $header--color--fixed
$header__logo--height: $header--height

$header__link--color: $header--color
$header__link--color--fixed: $header--color--fixed
$header__link--color-accent: $header--color-accent

$header__accented--color: $header--color-accent

.header
  background-color: transparent
  top: 0
  left: 0
  position: absolute
  display: flex
  flex-flow: row nowrap
  width: 100%
  height: $header--height
  z-index: 10000
  +transition(transform 0.2s ease, background-color 0.2s ease)
  .primary-button
    flex: 0 1 auto
    margin: 25px 0 0 25px
  .hamburger
    display: none
    margin: 33px 35px 0 0
    @media screen and (max-width: 768px)
      display: block
  .hamburger__item
    background-color: white
  +element('links-wrapper')
    display: flex
    flex-flow: row nowrap
    flex: 0 1 500px
    margin-right: $header--wrappers-margin-1
    @media screen and (max-width: 1440px)
      margin-right: $header--wrappers-margin-2
    @media screen and (max-width: 1024px)
      margin-right: $header--wrappers-margin-3
      flex: 0 1 400px
    @media screen and (max-width: 768px)
      display: none
  +element('logo-wrapper')
    flex: 1 1 230px
    flex-flow: row nowrap
    margin-left: $header--wrappers-margin-1
    @media screen and (max-width: 1440px)
      margin-left: $header--wrappers-margin-2
    @media screen and (max-width: 1024px)
      margin-left: $header--wrappers-margin-3
  +element('link')
    flex: 1 1 auto
    color: $header__link--color
    text-decoration: none
    font-size: $font__size--5
    text-align: center
    line-height: $header--height
    +transition(color 0.2s ease)
    position: relative
    margin-bottom: 3px
    &:hover
      color: $header__link--color-accent
    &:after
      content: ""
      display: block
      margin: -3px auto 0 auto
      height: 3px
      width: 0px
      background: transparent
      +transition(width .5s ease, background-color .5s ease)
    &:hover:after
      width: 100%
      background: $header__link--color-accent
  +element('logo')
    flex: 0 1 230px
    margin: 0
    text-decoration: none
    font-size: $font__size--2
    font-weight: bold
    height: $header__logo--height
    display: inline-block
    line-height: $header__logo--height
    color: $header__logo--color
    +transition(color 0.2s ease)
    &:hover
      color: $header__logo--color-accent
  +element('accented')
    color: $header__accented--color
  +modifier('fixed')
    position: fixed
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15)
    background-color: white
    .hamburger__item
      background-color: $color__primary 
    .header__link
      color: $header__link--color--fixed
      &:hover
        color: $header__link--color-accent
    .header__logo
      color: $header__logo--color--fixed
      &:hover
        color: $header__logo--color-accent
