@import '../setup/mixins'
@import '../setup/vars'

$tools-overview--color: white
$tools-overview--side-margins-1: 50px
$tools-overview--side-margins-2: 25px

.tools-overview
  background-color: $color__primary
  height: 180px
  width: 100%
  color: $tools-overview--color
  display: flex
  justify-content: space-around
  text-align: center
  +element('item')
    display: flex
    flex-flow: column nowrap
    justify-content: center
    @media screen and (max-width: 425px)
      flex: 0 1 100px
  +element('image')
    height: 100px
    width: auto
    margin: 0 auto
    @media screen and (max-width: 1024px)
      height: 80px
    @media screen and (max-width: 768px)
      height: 50px
  +element('text')
    margin: 0
    @media screen and (max-width: 1024px)
      font-size: $font__size--5
    @media screen and (max-width: 768px)
      font-size: $font__size--6
