div#about-me-section.about-me-section 
  div.about-me-section__text-wrapper
    h2.about-me-section__header Oleg Sorokin
    div.about-me-section__separator
    p.about-me-section__paragraph
      | I am jQuery and WordPress web developer. I really like to program and solve tasks. So I will do my best to provide the great result and finish every challenge you have prepared for me. 
      br
      br
      | Every good idea, every great company start with a website that will tell the story, sell products, make the world know about it. My job is to build modern, responsive website that will satisfy all of your needs.
      br
      br
      | I can work both per hour and fixed price. You can check out my 
      a.about-me-section__profile-link(href="#") UpWork
      |  profile for more information!
  div.about-me-section__image-wrapper
    img.about-me-section__image(src='images/photo.png')
