div.advantages-section
  h2.advantages-section__header What should you expect
  div.advantages-section__advantage-wrapper.advantages-section__advantage-wrapper--1
    div.advantages-section__advantage
      div.advantages-section__icon-wrapper
        i.advantages-section__icon.fa.fa-calendar-check-o
      div.advantages-section__text-wrapper
        h3.advantages-section__sub-header Reliability  
        p.advantages-section__paragraph Do my job in time and do it well - this is one of my highest priorities.
  div.advantages-section__advantage-wrapper.advantages-section__advantage-wrapper--2
    div.advantages-section__advantage
      div.advantages-section__icon-wrapper
        i.advantages-section__icon.fa.fa-balance-scale
      div.advantages-section__text-wrapper
        h3.advantages-section__sub-header Honesty
        p.advantages-section__paragraph I keep all of my work simple and transparent to my clients.
  div.advantages-section__advantage-wrapper.advantages-section__advantage-wrapper--3
    div.advantages-section__advantage
      div.advantages-section__icon-wrapper
        i.advantages-section__icon.fa.fa-comment
      div.advantages-section__text-wrapper
        h3.advantages-section__sub-header Communicability  
        p.advantages-section__paragraph I always look forward to any kind of questions.
