header.header.push
  div.header__logo-wrapper
    a(href='#').header__logo
      span.header__accented O
      | leg 
      span.header__accented S
      | orokin
  div.header__links-wrapper
    a.header__link.header__about-link(href='#') About
    a.header__link.header__contact-link(href='#contact-me-section') Contact
    a.primary-button(href='#') Hire Me
  div.header__hamburger-wrapper
    div#open-offcanvas.hamburger.menu-btn
      span.hamburger__item
      span.hamburger__item
      span.hamburger__item
      span.hamburger__item
