div.pushy.pushy-right.offcanvas-menu
  ul
    li
      a(href='#header-carousel').offcanvas-menu__home-link Home 
    li
      a(href='#about-me-section').offcanvas-menu__about-link About 
    li
      a(href='#portfolio-section').offcanvas-menu__portfolio-link Portfolio 
    li
      a(href='#contact-me-section').offcanvas-menu__contact-link Contact 

div.site-overlay
