div#portfolio-section.portfolio-section
  h2.portfolio-section__header Portfolio
  div.portfolio-section__items-wrapper
    div.portfolio-section__item-wrapper
      img(src='images/portfolio-sample-1.jpg').portfolio-section__item-image
      h3.portfolio-section__item-header Gentlemen
      p.portfolio-section__item-tags WordPress Theme / UI
      p.portfolio-section__item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div.portfolio-section__item-wrapper
      img(src='images/portfolio-sample-2.jpg').portfolio-section__item-image
      h3.portfolio-section__item-header Elegant
      p.portfolio-section__item-tags Web Design / Animation
      p.portfolio-section__item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
