div.portfolio-section
  h2.portfolio-section__header Portfolio
  div.portfolio-section__items-wrapper
    div.portfolio-section__item-wrapper
      img(src='images/portfolio-sample-1.jpg').portfolio-section__item-image
      h3.portfolio-section__item-header Employify
      p.portfolio-section__item-tags WordPress Theme / UI
      p.portfolio-section__item-description I worked on a new WordPress theme for astoundify.com. A job board theme with a heavy focus on video resumes, available for purchase shortly.
    div.portfolio-section__item-wrapper
      img(src='images/portfolio-sample-2.jpg').portfolio-section__item-image
      h3.portfolio-section__item-header Journey
      p.portfolio-section__item-tags Web Design / UI / UX
      p.portfolio-section__item-description I'm currently working on a travel related app called Journey, mainly as a collaborative side project.
