div.welcome-section 
  div.welcome-section__shadow
    div.welcome-section__wrapper  
      h2.welcome-section__secondary-header WordPress & jQuery
      h1.welcome-section__primary-header Web Developer
      p.welcome-section__slogan Do you need modern WordPress website? I can make it for you.
      a.primary-button(href='#') Hire Me
