div.about-me-section 
  div.about-me-section__text-wrapper
    h2.about-me-section__header Oleg Sorokin
    div.about-me-section__separator
    p.about-me-section__paragraph
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut inventore omnis officiis, eligendi rerum modi sunt voluptate ipsam maiores numquam labore illum repellat blanditiis saepe earum, neque, cumque commodi nam.
      br
      br
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ad veritatis reprehenderit inventore libero quia corporis dolores rem alias harum voluptates animi voluptate, distinctio quis molestias, voluptas odit, est assumenda!
  div.about-me-section__image-wrapper
    img.about-me-section__image(src='../images/photo.png')
