div.advantages-section
  h2.advantages-section__header What should you expect
  div.advantages-section__advantage-wrapper.advantages-section__advantage-wrapper--1
    div.advantages-section__advantage
      div.advantages-section__icon-wrapper
        i.advantages-section__icon.fa.fa-calendar-check-o
      div.advantages-section__text-wrapper
        h3.advantages-section__sub-header Reliability  
        p.advantages-section__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam laborum possimus nihil consectetur provident cumque! Quae quidem laboriosam minima autem magnam nobis non maiores, perspiciatis, ipsum, omnis, recusandae error! Minus.
  div.advantages-section__advantage-wrapper.advantages-section__advantage-wrapper--2
    div.advantages-section__advantage
      div.advantages-section__icon-wrapper
        i.advantages-section__icon.fa.fa-balance-scale
      div.advantages-section__text-wrapper
        h3.advantages-section__sub-header Honesty
        p.advantages-section__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure commodi, debitis obcaecati fugit id! Beatae quod sequi eius commodi placeat earum quasi quae ea, maiores cupiditate repellat consequatur in blanditiis?
  div.advantages-section__advantage-wrapper.advantages-section__advantage-wrapper--3
    div.advantages-section__advantage
      div.advantages-section__icon-wrapper
        i.advantages-section__icon.fa.fa-comment
      div.advantages-section__text-wrapper
        h3.advantages-section__sub-header Communicability  
        p.advantages-section__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, praesentium ipsam itaque velit esse eius, repudiandae minima, est architecto facere quas ad reprehenderit id odio! Aliquid amet, optio natus provident.
