div.skills-section 
  h2.skills-section__header Skills
  div.skills-section__wrapper
    div.skills-section__skills-wrapper
      p.skills-section__paragraph I specialize on WordPress and jQuery. Need transfer you design on WordPress engine? Need changes in existing WordPress website? Or you want to make alive your static pages with jQuery? I can do this and many more for you.
      div.skills-section__skill
        div.skills-section__skill-text-wrapper
          h3.skills-section__skill-header WordPress
        div.skills-section__progress-bar-wrapper
          div.skills-section__progress-bar
            p.skills-section__progress-percent 80%
      div.skills-section__skill
        div.skills-section__skill-text-wrapper
          h3.skills-section__skill-header jQuery
        div.skills-section__progress-bar-wrapper
          div.skills-section__progress-bar
            p.skills-section__progress-percent 75%
      div.skills-section__skill
        div.skills-section__skill-text-wrapper
          h3.skills-section__skill-header JavaScript
        div.skills-section__progress-bar-wrapper
          div.skills-section__progress-bar
            p.skills-section__progress-percent 90%
      div.skills-section__skill
        div.skills-section__skill-text-wrapper
          h3.skills-section__skill-header  CSS3 & HTML5
        div.skills-section__progress-bar-wrapper
          div.skills-section__progress-bar
            p.skills-section__progress-percent 95%
    div.skills-section__image-wrapper
      img.skills-section__image(src='../images/ipad.png')
