div.skills-section 
  h2.skills-section__header Skills
  div.skills-section__wrapper
    div.skills-section__skills-wrapper
      p.skills-section__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ea quam asperiores voluptates repellat perspiciatis vero officiis temporibus, minus illo doloribus eligendi, modi cumque accusantium repellendus. Nihil dolorem consequatur odit?
      div.skills-section__skill
        div.skills-section__skill-text-wrapper
          h3.skills-section__skill-header WordPress
        div.skills-section__progress-bar-wrapper
          div.skills-section__progress-bar
            p.skills-section__progress-percent 80%
      div.skills-section__skill
        div.skills-section__skill-text-wrapper
          h3.skills-section__skill-header jQuery
        div.skills-section__progress-bar-wrapper
          div.skills-section__progress-bar
            p.skills-section__progress-percent 75%
      div.skills-section__skill
        div.skills-section__skill-text-wrapper
          h3.skills-section__skill-header JavaScript
        div.skills-section__progress-bar-wrapper
          div.skills-section__progress-bar
            p.skills-section__progress-percent 90%
      div.skills-section__skill
        div.skills-section__skill-text-wrapper
          h3.skills-section__skill-header  CSS3 & HTML5
        div.skills-section__progress-bar-wrapper
          div.skills-section__progress-bar
            p.skills-section__progress-percent 95%
    div.skills-section__image-wrapper
      img.skills-section__image(src='../images/ipad.png')
