div.what-i-do-section
  div.what-i-do-section__parallax(data-parallax='scroll')
    div.what-i-do-section__content-wrapper
      h2.what-i-do-section__header What I do
      div.what-i-do-section__carousel
        div.what-i-do-section__item 
          i.what-i-do-section__icon.fa.fa-wordpress 
          h3.what-i-do-section__item-header WordPress
          p.what-i-do-section__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nostrum fuga delectus voluptate obcaecati commodi ipsam, dignissimos unde explicabo consequuntur perferendis quia mollitia ab doloribus odit molestias quis, illo culpa.
        div.what-i-do-section__item 
          i.what-i-do-section__icon.fa.fa-wordpress
          h3.what-i-do-section__item-header jQuery
          p.what-i-do-section__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nostrum fuga delectus voluptate obcaecati commodi ipsam, dignissimos unde explicabo consequuntur perferendis quia mollitia ab doloribus odit molestias quis, illo culpa.
        div.what-i-do-section__item 
          i.what-i-do-section__icon.fa.fa-chrome 
          h3.what-i-do-section__item-header Markup
          p.what-i-do-section__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nostrum fuga delectus voluptate obcaecati commodi ipsam, dignissimos unde explicabo consequuntur perferendis quia mollitia ab doloribus odit molestias quis, illo culpa.
