doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title WordPress Web Developer | Oleg Sorokin
    
    //- link(rel='stylesheet', href='../bower_components/pushy/css/pushy.css')
    link(rel='stylesheet', href='../css/main.css')
    
body
  header.header.push
    div.header__logo-wrapper
      a(href='#').header__logo
        span.header__accented O
        | leg 
        span.header__accented S
        | orokin
    div.header__links-wrapper
      a.header__link(href='#') About
      a.header__link(href='#') Contact
      a.primary-button(href='#') Hire Me
    div#open-offcanvas.hamburger.menu-btn
      span.hamburger__item
      span.hamburger__item
      span.hamburger__item
      span.hamburger__item
  div.pushy.pushy-right.offcanvas-menu
    ul
      li
        a(href='#') Home 
      li
        a(href='#') Contact 
      li
        a(href='#') About 
  div.site-overlay
  div#container
    div.header-carousel
      div
        img.header-carousel__image(src='../images/background-min.png')
      div
        img.header-carousel__image(src='../images/nature-min.png')
    div.welcome-section 
      div.welcome-section__shadow
        div.welcome-section__wrapper  
          h2.welcome-section__secondary-header WordPress & jQuery
          h1.welcome-section__primary-header Web Developer
          p.welcome-section__slogan You need amazing web developer? Well, you found it!
          a.primary-button(href='#') Hire Me
    div.tools-overview
      div.tools-overview__item
        image.tools-overview__image(src='../images/new_jquery.png')
        p.tools-overview__text Frontend with jQuery
      div.tools-overview__item
        image.tools-overview__image(src='../images/new_wordpress.png')
        p.tools-overview__text WordPress Backend
      div.tools-overview__item
        image.tools-overview__image(src='../images/new_css_and_html.png')
        p.tools-overview__text Mastered markup
    div.about-me-section 
      div.about-me-section__text-wrapper
        h2.about-me-section__header Oleg Sorokin
        div.about-me-section__separator
        p.about-me-section__paragraph
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut inventore omnis officiis, eligendi rerum modi sunt voluptate ipsam maiores numquam labore illum repellat blanditiis saepe earum, neque, cumque commodi nam.
          br
          br
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ad veritatis reprehenderit inventore libero quia corporis dolores rem alias harum voluptates animi voluptate, distinctio quis molestias, voluptas odit, est assumenda!
      div.about-me-section__image-wrapper
        img.about-me-section__image(src="../images/resized_photo_circle.png")
  script(src='../bower_components/jquery/dist/jquery.min.js')
  script(src='../bower_components/flexibility/flexibility.js')
  script(src='../bower_components/jquery-scrollspy/jquery-scrollspy.js')
  script(src='../bower_components/parallax.js/parallax.min.js')
  script(src='../bower_components/pushy/js/pushy.min.js')
  link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick.css')
  link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick-theme.css')
  script(src='../bower_components/slick-carousel/slick/slick.min.js')
  
  script(src='../bower_components/system.js/dist/system.js')
  script.
    SystemJS.config({
      baseURL: '../js/',
      defaultJSExtensions: true
    });
    SystemJS.import('main.js');
