doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title WordPress Web Developer | Oleg Sorokin
body
  include partials/pace-loading.jade
  include partials/header.jade
  include partials/offcanvas-menu.jade
  div#container
    include partials/header-carousel.jade
    include partials/welcome-section.jade
    include partials/tools-overview.jade
    include partials/about-me-section.jade
    div.parallax-break.parallax-container(data-parallax='scroll')  
    include partials/advantages-section.jade
    include partials/skills-section.jade
    include partials/what-i-do-section.jade
    include partials/contact-me-section.jade

  link(rel='stylesheet', href='../css/all.css')
  script(src='../js/lib.js')
  script.
    SystemJS.config({baseURL: '../js/', defaultJSExtensions: true});
    SystemJS.import('main.js');
